<h1>Here are your bookmarks!</h1>

<a href="https://sqlzoo.net/wiki/SQL_Tutorial">SQL Zoo</a>
<br>
<a href="https://github.com/airbnb/ruby">Github: Ruby Style Guide</a>
<br>
<a href="https://miro.com">Miro</a>