<h1>Welcome to Bookmark Manager!</h1>

<form action='/bookmarks/new' method='get'>
  <input type='submit' value="Add a Bookmark">
</form>

<form action='/bookmarks' method='post'>
  <input type='submit' value="View Bookmarks">
</form>
